-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "nombreCompleto" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "rol" TEXT NOT NULL DEFAULT 'ESTUDIANTE',
    "telefono" TEXT,
    "fechaRegistro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tutor" (
    "usuarioId" TEXT NOT NULL,
    "biografia" TEXT,
    "latitud" DOUBLE PRECISION,
    "longitud" DOUBLE PRECISION,
    "reputacionPromedio" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "activoAhoraFlash" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Tutor_pkey" PRIMARY KEY ("usuarioId")
);

-- CreateTable
CREATE TABLE "Estudiante" (
    "usuarioId" TEXT NOT NULL,
    "gradoAcademico" TEXT,

    CONSTRAINT "Estudiante_pkey" PRIMARY KEY ("usuarioId")
);

-- CreateTable
CREATE TABLE "Materia" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "nivelEducativo" TEXT NOT NULL,

    CONSTRAINT "Materia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TutorMateria" (
    "tutorId" TEXT NOT NULL,
    "materiaId" TEXT NOT NULL,
    "tarifaPorHora" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "TutorMateria_pkey" PRIMARY KEY ("tutorId","materiaId")
);

-- CreateTable
CREATE TABLE "Disponibilidad" (
    "id" TEXT NOT NULL,
    "tutorId" TEXT NOT NULL,
    "diaSemana" INTEGER NOT NULL,
    "horaInicio" TEXT NOT NULL,
    "horaFin" TEXT NOT NULL,

    CONSTRAINT "Disponibilidad_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tutoria" (
    "id" TEXT NOT NULL,
    "estudianteId" TEXT NOT NULL,
    "tutorId" TEXT NOT NULL,
    "materiaId" TEXT NOT NULL,
    "fechaInicio" TIMESTAMP(3) NOT NULL,
    "fechaFin" TIMESTAMP(3) NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "modalidad" TEXT NOT NULL DEFAULT 'VIRTUAL',
    "urlEncuentro" TEXT,
    "notasIaGeneradas" TEXT,

    CONSTRAINT "Tutoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Resena" (
    "id" TEXT NOT NULL,
    "tutoriaId" TEXT NOT NULL,
    "calificacionEstrellas" INTEGER NOT NULL,
    "feedback" TEXT,

    CONSTRAINT "Resena_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- AddForeignKey
ALTER TABLE "Tutor" ADD CONSTRAINT "Tutor_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TutorMateria" ADD CONSTRAINT "TutorMateria_tutorId_fkey" FOREIGN KEY ("tutorId") REFERENCES "Tutor"("usuarioId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TutorMateria" ADD CONSTRAINT "TutorMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Disponibilidad" ADD CONSTRAINT "Disponibilidad_tutorId_fkey" FOREIGN KEY ("tutorId") REFERENCES "Tutor"("usuarioId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tutoria" ADD CONSTRAINT "Tutoria_estudianteId_fkey" FOREIGN KEY ("estudianteId") REFERENCES "Estudiante"("usuarioId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tutoria" ADD CONSTRAINT "Tutoria_tutorId_fkey" FOREIGN KEY ("tutorId") REFERENCES "Tutor"("usuarioId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tutoria" ADD CONSTRAINT "Tutoria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Resena" ADD CONSTRAINT "Resena_tutoriaId_fkey" FOREIGN KEY ("tutoriaId") REFERENCES "Tutoria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

